In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
file_path = "/Users/mayurimamdi/Documents/IrelandHousingPredictiion/Data/Housing_Data_Jan2010_to_May2023_Cleaned.csv"

In [4]:
df=pd.read_csv(file_path, encoding="latin1")

In [5]:
df.head()

,Date,Address,County,Price,Full_Market_Price,VAT_Exclusive,Description_of_Property,Property_Size_Description
0,28/11/2018,"ABBEY GLEN, OFF POTTERY RD, CABINTEELY",Dublin,14800000.0,0.0,0.0,Second-Hand Dwelling house /Apartment,No Description
1,15/12/2016,"WALFORD, SHREWSBURY RD, DUBLIN 4",Dublin,14250000.0,0.0,0.0,Second-Hand Dwelling house /Apartment,No Description
2,29/03/2013,"Walford, Shrewsbury Road, Dublin 4",Dublin,14000000.0,0.0,0.0,Second-Hand Dwelling house /Apartment,No Description
3,19/05/2021,"Uimhi a Naoi, Bótha Sriúsbaire",Dublin,13250000.0,0.0,0.0,Second-Hand Dwelling house /Apartment,No Description
4,20/11/2019,"Property at Castletown Demesne, Carrick-on-Sui...",Kilkenny,12600000.0,0.0,0.0,Second-Hand Dwelling house /Apartment,No Description

In [6]:
df['Property_Size_Description'].unique()

array(['No Description', 'greater than 125 sq metres',
       'greater than or equal to 38 sq metres and less than 125 sq metres',
       'greater than or equal to 125 sq metres', 'less than 38 sq metres',
       'níos mó ná nó cothrom le 38 méadar cearnach agus níos lú ná 125 méadar cearnach',
       'n?os l? n? 38 m?adar cearnach', nan], dtype=object)

In [7]:
df['Description_of_Property'].unique()

array(['Second-Hand Dwelling house /Apartment',
       'New Dwelling house /Apartment', 'Teach/Árasán Cónaithe Atháimhe',
       'Teach/Árasán Cónaithe Nua', nan, 'Teach/?ras?n C?naithe Nua'],
      dtype=object)

In [8]:
valid_property_types = [
    'Second-Hand Dwelling house /Apartment',
    'New Dwelling house /Apartment'
]

df = df[df['Description_of_Property'].isin(valid_property_types)]

In [9]:
valid_area_desc = [
    'No Description',
    'less than 38 sq metres',
    'greater than or equal to 38 sq metres and less than 125 sq metres',
    'greater than or equal to 125 sq metres',
    'greater than 125 sq metres'
]

df = df[df['Property_Size_Description'].isin(valid_area_desc)]

In [10]:
df['Description_of_Property'].unique()

array(['Second-Hand Dwelling house /Apartment',
       'New Dwelling house /Apartment'], dtype=object)

In [11]:
df['Property_Size_Description'].unique()

array(['No Description', 'greater than 125 sq metres',
       'greater than or equal to 38 sq metres and less than 125 sq metres',
       'greater than or equal to 125 sq metres', 'less than 38 sq metres'],
      dtype=object)

In [12]:
df['VAT_Exclusive'].unique()

array([0., 1.])

In [13]:
df['VAT_Exclusive']=df['VAT_Exclusive'].astype(int)

In [14]:
df['VAT_Exclusive'].unique()

array([0, 1])

In [15]:
df['County'].unique()

array(['Dublin', 'Kilkenny', 'Laois', 'Cork', 'Wicklow', 'Louth',
       'Kildare', 'Limerick', 'Tipperary', 'Clare', 'Meath', 'Galway',
       'Wexford', 'Cavan', 'Kerry', 'Carlow', 'Westmeath', 'Waterford',
       'Sligo', 'Donegal', 'Mayo', 'Longford', 'Monaghan', 'Roscommon',
       'Leitrim', 'Offaly'], dtype=object)

In [16]:
df['day']=df['Date'].str.split('/').str[0]

In [17]:
df['day'].head()

0    28
1    15
2    29
3    19
4    20
Name: day, dtype: object

In [18]:
df['month']=df['Date'].str.split('/').str[1]

In [19]:
df['month'].head()

0    11
1    12
2    03
3    05
4    11
Name: month, dtype: object

In [20]:
df['Date'].str.split('/').str[2]

0         2018
1         2016
2         2013
3         2021
4         2019
          ...
596650    2018
596651    2014
596652    2012
596653    2019
596654    2023
Name: Date, Length: 596605, dtype: object

In [21]:
df['year']=df['Date'].str.split('/').str[2]

In [22]:
df['year'].head()

0    2018
1    2016
2    2013
3    2021
4    2019
Name: year, dtype: object

In [23]:
df.drop(columns='Date', axis=1, inplace=True)

In [24]:
df.head()

,Address,County,Price,Full_Market_Price,VAT_Exclusive,Description_of_Property,Property_Size_Description,day,month,year
0,"ABBEY GLEN, OFF POTTERY RD, CABINTEELY",Dublin,14800000.0,0.0,0,Second-Hand Dwelling house /Apartment,No Description,28,11,2018
1,"WALFORD, SHREWSBURY RD, DUBLIN 4",Dublin,14250000.0,0.0,0,Second-Hand Dwelling house /Apartment,No Description,15,12,2016
2,"Walford, Shrewsbury Road, Dublin 4",Dublin,14000000.0,0.0,0,Second-Hand Dwelling house /Apartment,No Description,29,03,2013
3,"Uimhi a Naoi, Bótha Sriúsbaire",Dublin,13250000.0,0.0,0,Second-Hand Dwelling house /Apartment,No Description,19,05,2021
4,"Property at Castletown Demesne, Carrick-on-Sui...",Kilkenny,12600000.0,0.0,0,Second-Hand Dwelling house /Apartment,No Description,20,11,2019

In [25]:
df['Full_Market_Price'].value_counts()

Full_Market_Price
0.0    567828
1.0     28777
Name: count, dtype: int64

In [26]:
df['Full_Market_Price']=df['Full_Market_Price'].astype(int)

In [31]:
df.head()

,Address,County,Price,Full_Market_Price,VAT_Exclusive,Description_of_Property,Property_Size_Description,day,month,year
0,"ABBEY GLEN, OFF POTTERY RD, CABINTEELY",Dublin,14800000.0,0,0,Second-Hand Dwelling house /Apartment,No Description,28,11,2018
1,"WALFORD, SHREWSBURY RD, DUBLIN 4",Dublin,14250000.0,0,0,Second-Hand Dwelling house /Apartment,No Description,15,12,2016
2,"Walford, Shrewsbury Road, Dublin 4",Dublin,14000000.0,0,0,Second-Hand Dwelling house /Apartment,No Description,29,03,2013
3,"Uimhi a Naoi, Bótha Sriúsbaire",Dublin,13250000.0,0,0,Second-Hand Dwelling house /Apartment,No Description,19,05,2021
4,"Property at Castletown Demesne, Carrick-on-Sui...",Kilkenny,12600000.0,0,0,Second-Hand Dwelling house /Apartment,No Description,20,11,2019

In [27]:
df['Price'].value_counts()

Price
150000.00    7475
100000.00    6759
200000.00    6702
250000.00    5998
120000.00    5818
             ...
277532.31       1
277532.73       1
277532.74       1
277532.81       1
5001.00         1
Name: count, Length: 34662, dtype: int64

In [28]:
df['County'].value_counts()

County
Dublin       187611
Cork          65144
Kildare       31565
Galway        29594
Meath         24348
Limerick      22182
Wexford       20781
Wicklow       19095
Kerry         17077
Waterford     16326
Donegal       16310
Louth         16155
Tipperary     16105
Mayo          14377
Clare         13647
Westmeath     11470
Kilkenny       9347
Laois          9341
Cavan          9129
Sligo          8942
Roscommon      8658
Offaly         7442
Carlow         6634
Leitrim        5398
Longford       5196
Monaghan       4731
Name: count, dtype: int64

In [32]:
df['Description_of_Property'].unique()

array(['Second-Hand Dwelling house /Apartment',
       'New Dwelling house /Apartment'], dtype=object)

In [33]:
df['Description_of_Property']=df['Description_of_Property'].map({'Second-Hand Dwelling house /Apartment':0, 'New Dwelling house /Apartment':1})

In [34]:
df.head()

,Address,County,Price,Full_Market_Price,VAT_Exclusive,Description_of_Property,Property_Size_Description,day,month,year
0,"ABBEY GLEN, OFF POTTERY RD, CABINTEELY",Dublin,14800000.0,0,0,0,No Description,28,11,2018
1,"WALFORD, SHREWSBURY RD, DUBLIN 4",Dublin,14250000.0,0,0,0,No Description,15,12,2016
2,"Walford, Shrewsbury Road, Dublin 4",Dublin,14000000.0,0,0,0,No Description,29,03,2013
3,"Uimhi a Naoi, Bótha Sriúsbaire",Dublin,13250000.0,0,0,0,No Description,19,05,2021
4,"Property at Castletown Demesne, Carrick-on-Sui...",Kilkenny,12600000.0,0,0,0,No Description,20,11,2019

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 596605 entries, 0 to 596654
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Address                    596605 non-null  object
 1   County                     596605 non-null  object
 2   Price                      596605 non-null  float64
 3   Full_Market_Price          596605 non-null  int64
 4   VAT_Exclusive              596605 non-null  int64
 5   Description_of_Property    596605 non-null  int64
 6   Property_Size_Description  596605 non-null  object
 7   day                        596605 non-null  object
 8   month                      596605 non-null  object
 9   year                       596605 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 50.1+ MB

In [36]:
df['Property_Size_Description'].unique()

array(['No Description', 'greater than 125 sq metres',
       'greater than or equal to 38 sq metres and less than 125 sq metres',
       'greater than or equal to 125 sq metres', 'less than 38 sq metres'],
      dtype=object)

In [37]:
df['Property_Size_Description']=df['Property_Size_Description'].map({'No Description':0, 
                                                                     'less than 38 sq metres' :1,
                                                                     'greater than or equal to 38 sq metres and less than 125 sq metres':2,
                                                                     'greater than or equal to 125 sq metres':3,
                                                                     'greater than 125 sq metres':4
                                                                    })

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 596605 entries, 0 to 596654
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Address                    596605 non-null  object
 1   County                     596605 non-null  object
 2   Price                      596605 non-null  float64
 3   Full_Market_Price          596605 non-null  int64
 4   VAT_Exclusive              596605 non-null  int64
 5   Description_of_Property    596605 non-null  int64
 6   Property_Size_Description  596605 non-null  int64
 7   day                        596605 non-null  object
 8   month                      596605 non-null  object
 9   year                       596605 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 50.1+ MB

In [39]:
df['day']=df['day'].astype(int)
df['month']=df['month'].astype(int)
df['year']=df['year'].astype(int)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 596605 entries, 0 to 596654
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Address                    596605 non-null  object
 1   County                     596605 non-null  object
 2   Price                      596605 non-null  float64
 3   Full_Market_Price          596605 non-null  int64
 4   VAT_Exclusive              596605 non-null  int64
 5   Description_of_Property    596605 non-null  int64
 6   Property_Size_Description  596605 non-null  int64
 7   day                        596605 non-null  int64
 8   month                      596605 non-null  int64
 9   year                       596605 non-null  int64
dtypes: float64(1), int64(7), object(2)
memory usage: 50.1+ MB

In [ ]:
df['County']

Chcek null values

In [30]:
df.isna().sum()

Address                      0
County                       0
Price                        0
Full_Market_Price            0
VAT_Exclusive                0
Description_of_Property      0
Property_Size_Description    0
day                          0
month                        0
year                         0
dtype: int64